[Unit]
Description=Poll shop for %i every 3 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=3min
RandomizedDelaySec=30s
Persistent=false

[Install]
WantedBy=timers.target
